@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
		url('../fonts/playfair-display-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/playfair-display-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'Playfair Display';
	font-style: italic;
	font-weight: 400;
	src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'),
		url('../fonts/playfair-display-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/playfair-display-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
	color: #ffffff;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

a {
	color: #ffafaf;
	text-decoration: none;
	border-bottom: 1px solid;
	border-color: rgba(255, 175, 175, 0.8);
}

a:hover {
	border-bottom: 0;
}

#center-container {
	position: relative;
	top: 50vh;
	transform: translateY(-50%);
	vertical-align: middle;
	text-align: center;
}

#center-container p {
	font-size: 25px;
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	word-spacing: 8px;
	padding-bottom: 10px;
}

#center-container h1 {
	color: #ffffff;
	font-family: 'Playfair Display', serif;
	font-size: 80px;
	font-weight: 400;
	display: inline-block;
	line-height: 0.8em;
	margin: 0;
	margin-bottom: 18px;
}

#bottom-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#bottom-container p {
	color: #ffffff;
	font-size: 14px;
	margin: 0;
	font-family: 'Playfair Display', serif;
	text-align: center;
	padding-bottom: 30px;
}

#bottom-container a {
	color: #ffffff;
	border-color: #ffffff;
}

.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg__video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-transform: translate(-50%, -50%);
}
